@{
    ViewBag.Title = "About";
}

<div class="row mb-3 align-items-center h-100">
    <div class="col-md-6 mx-auto">
        <h2>Abstract</h2>
        <span class="text-justify justify-content-center align-self-center">
            College feedback system is a web application which provides an easy way to know information about a college. In this application, all the information of the college will be added by admin. Students can find all the details of college and can give feedback which will be helpful to fresher’s who are searching for college information.
        </span>
    </div>
    <div class="col-md-6">
        <img src="~/Images/About/About.png" alt="About feedback system" class="img-fluid" height="200px" width="100%" />
    </div>
</div>

<div class="row mb-3 align-items-center h-100">
    <div class="col-md-6">
        <img src="~/Images/About/About4.jpg" alt="About feedback system" class="img-fluid" height="200px" width="100%" />
    </div>
    <div class="col-md-6 mx-auto">
        <h2>Existing System</h2>
        <span class="text-justify justify-content-center align-self-center">
            In the existing system, there is no proper information about colleges. Students who are searching for college details should go physically and make enquire about college which takes a lot of time and effort. The student is not able to give feedback about college.
        </span>
    </div>
</div>

<div class="row mb-3 align-items-center h-100">
    <div class="col-md-6 mx-auto">
        <h2>Proposed System</h2>
        <span class="text-justify justify-content-center align-self-center">
            The proposed system provides an easy way to a student who is searching for college information. All the information is added by admin where students and fresher’s can easily access the information. This system saves a lot of time and effort of students. This system also provides a chance for students to give feedback about the college.
        </span>
    </div>
    <div class="col-md-6">
        <img src="~/Images/About/About5.jpg" alt="About feedback system" class="img-fluid" height="200px" width="100%" />
    </div>
</div>
