
@{
    ViewBag.Title = "Index";
}
@section Styles {
    <style>
        .form-group label {
            font-weight: 500;
        }

        textarea {
            max-height: 77px;
            min-height: 77px;
        }
        .CollegeDetails .col-9 {
            padding: 0 35px;
        }
    </style>
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />


<br />
<div class="row ">
    <div class="col">
        <div class="card CollegeManagementScreen">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">College Management</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Manage the college by Add, edit or delete</h6>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm float-right add-clg"><i class="fa fa-plus"></i> Add College</button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <table class="table table-hover tblColgList table-striped">
                            <thead class="bg-success text-white">
                                <tr>
                                    <th scope="col">College Id</th>
                                    <th scope="col">College Name</th>
                                    <th scope="col">Link</th>
                                    <th scope="col">About College</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card AddCollege hide">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">Add College</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Add new college and details</h6>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm float-right back-clg"><i class="fa fa-arrow-right"></i> Back</button>
                    </div>
                </div>
                <form method="post" name="CollegeFormAdd" id="CollegeFormAdd" class="CollegeFormAdd mt-4">
                    <div class="row">
                        <div class="col">
                            <!-- Left panel -->
                            <div class="form-group">
                                <label for="clgName">College Name</label>
                                <input type="text" class="form-control" id="txtclgName" name="clgName">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" id="txtaddress" name="address" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="clgImg">College Image Upload</label>
                                <input type="file" class="form-control-file" id="txtImage" name="clgImg">
                                <small id="smImage" class="form-text text-muted"><b class="text-danger">Note:</b> Please upload Image of format .JPG /.PNG with 2MB data file size.</small>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Right panel -->
                            <div class="form-group">
                                <label for="clgLink">Link</label>
                                <input type="text" class="form-control" id="txtclgLink" name="clgLink">
                            </div>
                            <div class="form-group">
                                <label for="aboutClg">About College</label>
                                <textarea class="form-control" id="txtaboutClg" name="aboutClg" rows="3"></textarea>
                                <small id="smImage" class="form-text text-muted">Tell about the college in 100 words</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col ">
                            <div class="form-group float-right">
                                <input type="submit" value="Add College" id="btnAddCollege" class="btn btn-success" />
                                <input type="reset" value="Clear" id="btnCollegeReset" class="btn btn-warning" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title clgTitle">College Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row CollegeDetails">
                    <div class="col-3">
                        <img src="#" alt="Image" class="img-fluid img-thumbnail" id="imgCollegeImage" />
                    </div>
                    <div class="col-9 border-left">
                        <div class="form-group row border-bottom">
                            <label for="collegeId" class="col-sm-2 col-form-label">College Id</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="collegeId" name="collegeId" value="">
                            </div>
                        </div>
                        <div class="form-group row border-bottom">
                            <label for="collegeName" class="col-sm-2 col-form-label">College Name</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="collegeName" name="collegeName" value="">
                            </div>
                        </div>
                        <div class="form-group row border-bottom">
                            <label for="collegeLink" class="col-sm-2 col-form-label">Link</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="" class="form-control-plaintext" id="collegeLink" name="collegeLink" value="">
                            </div>
                        </div>
                        <div class="form-group row border-bottom">
                            <label for="collegeAbout" class="col-sm-2 col-form-label">About College</label>
                            <div class="col-sm-10">
                                <textarea readonly="" id="collegeAbout" name="collegeAbout" class="form-control-plaintext"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="CollegeAddress" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">                                
                                <textarea readonly="" id="CollegeAddress" name="CollegeAddress" class="form-control-plaintext"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row CollegeDetailsEdit hide">
                    <div class="col">
                        <form method="post" name="CollegeDetailFormEdit" id="CollegeDetailFormEdit">
                            <input type="hidden" class="form-control" id="txtCollegeId" name="txtCollegeId">
                            <div class="form-group">
                                <label for="CollegeName">College Name</label>
                                <input type="text" class="form-control" id="txtCollegeName" name="txtCollegeName">
                            </div>
                            <div class="form-group">
                                <label for="ClgLink">Link</label>
                                <input type="text" class="form-control" id="txtClgLink" name="txtClgLink">
                            </div>
                            <div class="form-group">
                                <label for="ClgAddress">Address</label>
                                <textarea class="form-control" id="txtClgAddress" name="txtClgAddress" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ClgAbout">About</label>
                                <textarea class="form-control" id="txtClgAbout" name="txtClgAbout" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="ClgImg">Image</label>
                                <input type="file" class="form-control-file" id="txtClgImage" name="clgImg">
                                <small id="smImage" class="form-text text-muted"><b class="text-danger">Note:</b> Please upload Image of format .JPG /.PNG with 2MB data file size.</small>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-success hide" id="btnClgFormSubmit">Update</button>
                                    <button type="button" class="btn btn-dark hide" id="btnClgFormBack">Back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="btnClgFormEdit">Edit</button>
                <button type="button" class="btn btn-danger" id="btnCls" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js" integrity="sha512-6Uv+497AWTmj/6V14BsQioPrm3kgwmK9HYIyWP+vClykX52b0zrDGP7lajZoIY1nNlX4oQuh7zsGjmF7D0VZYA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/Custom/CollegeManagementScript.js"></script>
}
